/* 
    Created on : Dec 19, 2016, 10:12:44 AM
    Author     : Duncan
*/

html,body{
    height: 100%
}

span.error {
    background-color:#FFDFDF;
    color:red;
}

a.foot{
    text-decoration: none;
    color: #000000;

}

.sampleAd{

    padding-left: 0px;
    padding-right: 0px;


    /*margin: 3px;*/
}

.sampleAdDiv{
    background-image: url("../img/backg.jpg");
    border: 1px solid #66ff33;
    padding: 2px;
    margin: 3px;
    height: 100%;
}

.sampleAdText{
    font-weight: bold;
    font-family: 'Architects Daughter';font-size: 17px;
}

.countryList{
    margin-right: 30px;
}

.anchor{
    /*color: #ffffff;*/
}

a:link.anchor{
    text-decoration: none;
}

a:hover.anchor{
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}

@media only screen and (max-width: 768px) {
    #contry-list-drop-down {
        padding-left: 10px;
        background-color: #ffffff;
    }
}

div#wearenight{
    height: 200px;
    background: url("../img/housebed.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.frame{
    margin-bottom: 15px;   
}

.frame-header{
    font-weight: bold;
}

.footer-list{
    display: inline;  
}

@font-face {
    font-family: "CaslonTwoTwentyFour";
    src: url("../font/CaslonTwoTwentyFour.ttf") format("truetype");
}
h2.banner-tag { 
    font-family: "CaslonTwoTwentyFour", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 51px;
}

@media only screen and (max-width: 992px) {
    h2.banner-tag { 
    font-size: 40px;
}}

@media only screen and (max-width: 768px) {
    h2.banner-tag { 
    font-size: 30px;
}



}