/* 
    Created on : Dec 19, 2016, 10:12:44 AM
    Author     : Duncan
*/

html,body{
    height: 100%
}

span.error {
    background-color:#FFDFDF;
    color:red;
}

a.foot{
    text-decoration: none;
    color: #ffffff;

}
