<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.inmobia.classified.controller"/>
     <context:component-scan base-package="com.inmobia.classified.service" />
    <context:component-scan base-package="com.inmobia.classified.security" />
    <context:component-scan base-package="com.inmobia.classified.dao" />
    <context:component-scan base-package="com.inmobia.classified.dto" />
    <context:component-scan base-package="com.inmobia.classified.service.bean" />
    
    <context:annotation-config />
    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/view/"></property>  
        <property name="suffix" value=".jsp"></property>  
    </bean>  
   
   
    <bean id="userservice" class="com.inmobia.classified.service.UserService" autowire="byName">  
        
    </bean>
    
    <bean id="websatasanitizer" class="com.inmobia.classified.security.WebDataSanitizer" autowire="byName">  
        
    </bean>
    
    <bean id="msisdndao" class="com.inmobia.classified.dao.MsisdnDao" autowire="byName">  
        
    </bean>
    
     <bean id="contentbuilder" class="com.inmobia.classified.service.ContentBuilder" autowire="byName">  
        
    </bean>
    
    <bean id="contentcategorydao" class="com.inmobia.classified.dao.ContentCategoryDao" autowire="byName">  
        
    </bean>
    
    
    <bean id="countrydao" class="com.inmobia.classified.dao.CountryDao" autowire="byName">  
        
    </bean>
    
      
    <bean id="locationdao" class="com.inmobia.classified.dao.LocationDao" autowire="byName">  
        
    </bean>
    
    <bean id="contentdao" class="com.inmobia.classified.dao.ContentDao" autowire="byName">  
        
    </bean>
    
    <bean id="contentcategorysubtypedao" class="com.inmobia.classified.dao.ContentCategorySubtypeDao" autowire="byName">  
        
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>ValidationMessages</value>
            </list>
        </property>
    </bean>
   
   
</beans>
